@{
    ViewBag.Title = "Group 3's ToDo List";
}

<div class="jumbotron">
    <h1>ToDo</h1>
    <p class="lead">This is a ToDo List.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lists of ToDo Lists go here</h2>
        <p>ToDo List 1.</p>
        <p>ToDo List 2.</p>
    </div>
</div>